<div class="col-md-10 mx-auto">
	<img  src="front_pic.jpg" alt="Card image cap" width="100%" align="middle">
	<div class="jumbotron" style="background-color: white;">
	  <h1>WELCOME TO BLOGHUB!</h1>
	  <p>If you like friends, taking picture, exploring the world, or simply just want to express your feeling. This is definitely the place for you!</p>
	</div>
</div>
