<div class="container">
	<div class="row">
		<h1 style="margin-bottom: 20px">**Team member information Page**</h1>
		<div class="col-md-6">
			<div class="card mx-auto" style="width: 20rem;">
			  <img class="card-img-top" src="1412410_pic.jpg" alt="Phạm Sĩ Phú">
			  <div class="card-body">
			    <h4 class="card-title">Phạm Sĩ Phú</h4>
			    <p class="card-text">
			    	MSSV:1412410 <br>Email: psphu96@gmail.com <br> Phone: 0933209424
			    </p>
			    <img src="1412410_cor.jpg" alt="Phu's house" width="100%">
			  </div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card mx-auto" style="width: 20rem;">
			  <img class="card-img-top" src="1412105_pic.jpg" alt="Ngô Tiến Dũng">
			  <div class="card-body">
			    <h4 class="card-title">Ngô Tiến Dũng</h4>
			    <p class="card-text">
			    	MSSV:1412105 <br>Email: 1412105@student.hcmus.edu.vn <br> Phone: 0969529915
			    </p>
			    <img src="1412105_cor.jpg" alt="Dung's house" width="100%">
			  </div>
			</div>
		</div>
	</div>
</div>
